/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

// Variable color names
$new-tweets: #6db0e4;
$border-following: #cdcfd4;
$width: 270px;
$font-color: #617383;
$divisor-color: #172430;
$top-background: #1e2c3d;
$main-background: #2d455f;
$selector-blue: linear-gradient(to bottom right, #56abee, #4e9fdc);
$top-bar-font: #3d76a5;
$margin-middle: 0 0 0 $width;
$font-size: 15px;
$accent-color: #2a3544;
$signin-background: #f3f4f7;

@mixin text {
    font-family: "Poppins", sans-serif;
    color: $font-color;
  }
  
@mixin tweets {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
}

@mixin background {
  background-color: #f0f1f1;
}

.login-background {
  background-image: linear-gradient(to bottom right, #1a2f4b, #338bce);
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 80px;

  @include text;
}
